.about-container{
    font-family: 'Newsreader', serif;
    width: 100%;

    display: flex;
    margin: auto;
    background: rgba(195, 243, 58, 0.33);
}
 .about-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-text h2{
    background: #8AB415;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2em;
    padding: .5em 0;
    font-weight: 600;
} 
.about-p{
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 0em;
    display: flex;
    padding: 3em 0em;
    flex-wrap: wrap;
    gap: 2em;
}
 .about-txt{
    width: 50%;
}
.about-p p{
    font-size: 1.5em;
    text-align: justify;
}
.about-img{
    align-items: center;
}
.about-img img{
    width: 100%;
    mix-blend-mode: darken;
    object-fit: contain;
}
@media screen and (max-width:990px) {
    .about-txt{
        width: 80%;
    }
    .about-p p{
        margin: auto;
        font-size: 1.3em;
    }
    .about-img{
    padding: 1em;
}
}


 @media screen and (max-width:400px) {

    .about-txt{
        width: 85%;
    }
    .about-text h2{
        font-size: 1.8em;
    }
    .about-p{
        flex-direction: column;
    }
    .about-p p{
        margin: auto;
        font-size: 1.3em;
    }
}