
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.footer-container{
    width: 100%;
    background: #9EC02A;
    overflow: hidden;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    width: 100%;
    font-family: 'Newsreader', serif;
    color: #fff;
}
.footer p{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5em;
}
.footer img{
    width: 15%;
    padding: 1.5vh 0vh 0vh 0vh;
    mix-blend-mode: lighten;
}