
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}



.footer-container{
    max-width: 1980px;
    margin: auto;
    margin-top: 4em;
    width: 100%;
    background: #9EC02A;
    overflow: hidden;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: auto;
    width: 95%;
    padding: .2em 0;
    font-family: 'Newsreader', serif;
    color: #fff;
}
.footer p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5em;
}
.footer img{
    width: 15%;
    padding: 1.5vh 0vh 0vh 0vh;
    mix-blend-mode: lighten;
}
.des{
    align-items: center;
}
.des img{
    height: 1.7em;
    width: auto;
    padding: 0;
}
@media screen and (max-width:855px){
    .footer{
        flex-direction: column;
        gap: 2em;
    }
    .footer p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .footer img{
        width: 20%;
        padding: 0;
    }
    .des img{
        width: 3em;
        height: auto;
    }
}
@media screen and (max-width:600px){
    .footer{
        flex-direction: column;
        gap: 2em;
    }
    .footer p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .footer img{
        width: 20%;
        padding: 0;
        margin: auto;
        display: flex;
    }
    .des img{
        width: 3em;
        height: auto;
    }
}
@media screen and (max-width:450px){
    .footer p{
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .footer img{
        width: 20%;
        padding: 0;
    }
    .des a{
        text-align: center;
    }
}