

header{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Newsreader';
}
header a{
    text-decoration: none;
}

header .logo-img{
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1em;
}

header .logo-img img{
    margin: auto;
    display: flex;
    max-width: 7em;
    mix-blend-mode: darken;
}
header .logo-img .title{
    justify-content: end;
    text-align: left;
    display: grid;
}

header .logo-img .title h2{
    text-align: left;
    margin: 0;
    font-size: 1.3em;
    text-transform:uppercase;
    font-weight: bold;
    color: #402807;
}

header .logo-img .title p{
    text-align: left;
    text-transform: none;
    margin: 0;
    font-size: .9em;
    font-weight: 700;
    color: #C0602A;
}
